.websiteAlert {
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(33, 25, 40);
  height: 300px;
  border: 5px solid slategray;
}

.alert-heading {
  font-size: 5rem;
}

.alert-text > span {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

span > .dont {
  color: rgb(135, 135, 209);
}

#accept {
  width: 100px;
  margin-top: 1em;
  padding: 0.5em 0;
  background-color: #0d3d5e;
  border: 5px solid black;
  color: rgb(145, 83, 83);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
